*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    overflow-x: hidden;
    background-color: #efefef;
}

header{
    width: 100vw;
    height: 10vh;
}
header nav.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img.logo{
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}
header nav.navigation .menu{
    display: flex;
    padding: auto 10px;
    margin-right: 20px;
}
header nav.navigation .menu ul li{
list-style: none;
display: inline-block;
}
header nav.navigation .menu ul li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
}
header nav.navigation .menu span{
    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
}
header nav.navigation .menu span input{
    width: 55px;
    height: 20px;
    border: none;
    outline: none;

}
div.header{
    width: 100vw;
    height: 100vh;
    padding: 0 auto;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-around;
}
div.header img{
    width: 90vw;
    height: 100vh;
}
div.header .header-btn{
position: absolute;
top: 35%;
left: 7%;
outline: none;
border: none;
background-color: #000000;
color: #ffffff;
width: 150px;
height: 29px;
font-size: 20px;
border-radius: 15px;
cursor: pointer;
}
div.header .women{
    width: 170px;
    left: 22%;
}
div.header .header-btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}
/* css for footer */
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');



.container-fluid {
    overflow: hidden;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
/* footer css end here */
@media only screen and (max-width:500px){
    header{
        width: 100vw;
        height: 100vh;
    }
    header nav {
        position: relative;
    }
    header nav.navigation .logo{
        width: 100%;
    }
    div.header .header-btn{
        width: 100px;
        left: 5%;
        height: 50px;
        top: 10%;
        margin: 0 5px;
    }
    div.header .women{
        width: 100px;
        height: 50px;
        left: 33%;
        }
        div.header img{
            width: 100vw;
            height: 100%;
        }
}